.legendTable {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-top: 2rem;
}

.legendTable td {
    padding: 0;
}

.legendTable .text, 
.legendTable .value {
    border: none;
    outline: none;
    padding: .75rem 1rem;
    box-sizing: border-box;
}

.legendTable table td {
    border: 1px solid lightgray;
}

.legendTable * {
    font-size: 1rem !important;
}

.legendTable .color {
    -webkit-appearance: none;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
}