.error {
  &::placeholder {
    color: #ff4d4f;
    opacity: 1; /* Firefox */
  }

  &::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #ff4d4f;
  }
}
.errorBorder {
  border: 1px solid #ff4d4f;
}
