:root {
    /* --primary-color:  #4b86b4; */
    --primary-color:  #4a4e4d;
    --secondary-color:  #63ace5;
    --tertiary-color:  #519eda;
    --lightgray: #f4f4f8;
    --gray:  #cccccc;
    --size-xs: .5rem;
    --size-sm: 1rem;
    --size-md: 1.5rem;
    --size-lg: 2rem;
}