.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    box-sizing: border-box;
    height: calc(100vh - var(--header-height));
}

.section {
    width: calc(50% - 1rem);
}
