.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--size-sm);
    gap: var(--size-sm);
    box-sizing: border-box;
}

.section {
    width: calc(50% - var(--size-xs));
}
