.header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-md);
    border-bottom: 1px solid var(--gray);
    color: var(--primary-color);
}

.header h1 {
    margin: 0;
    font-size: var(--size-md);
}