.button {
  padding: var(--size-xs) var(--size-md);
  color: #fff;
  background-color: var(--secondary-color);
  border: none;
  cursor: pointer;
  font-size: var(--size-sm);
  transition: 0.3s;

  &:hover {
    background-color: var(--tertiary-color);
  }
}
